/* Reset CSS per rimuovere i margini e i padding predefiniti */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definizione dello stile della pagina */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
.logo {
    position: absolute;
    top: 20px; /* Modifica il valore per regolare la posizione verticale */
    right: 20px; /* Modifica il valore per regolare la posizione orizzontale */
}

.logo img {
    width: 100px; /* Modifica la larghezza del logo secondo le tue preferenze */
    height: auto; /* Mantieni l'altezza proporzionale */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #ff6f61;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-container, .unity-game-container, .github-repos {
    overflow-x: auto; /* Abilita la barra di scorrimento orizzontale */
    white-space: nowrap;
    margin-bottom: 20px;
}

.video {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    background-color: #e2e2e2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
}
.video h3 {
    margin-top: 0;
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.unity-game {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    background-color: #e2e2e2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
}

.unity-game h3 {
    margin-top: 0;
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.github-repo {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    background-color: #e2e2e2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    vertical-align: top;
}
.github-repo img {
    width: 200px; /* Imposta la larghezza desiderata per le anteprime */
    height: auto; /* Mantieni l'altezza proporzionale */
}

.github-repo h3 {
    color: #333;
    margin-bottom: 10px;
}

.github-repo p {
    color: #666;
}
